header {
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 5px black;
}
:root {
  --bg: rgb(23, 0, 39);
  --text: rgb(147, 223, 223);
}
* {
  font-family: "Mina", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
body {
  background-color: var(--bg);
  color: var(--text);
  max-width: 100%;
}
section {
  box-shadow: 2px 2px 5px black;
  margin: 1rem 0px;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#education {
  padding: 2rem;
}
#skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#portfolio {
  margin: 1rem;
}
.fa-brands {
  font-size: 1rem;
  color: var(--text);
  margin: 1rem;
}
.skill-text {
  font-size: 1rem;
}
#portfolio #portfolio-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
span p {
  margin: 0px 2rem 0rem 0rem;
  padding: 0;
}
#education p {
  color: white;
  font-size: 1.5rem;
}
span a {
  padding: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-decoration: none;
}
footer {
  text-align: center;
}

nav a {
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-decoration: none;
  height: fit-content;
  padding: 0rem 1rem;
}
nav a:hover {
  border-bottom: 2px solid wheat;
}
ul {
  border-bottom: 2px solid wheat;
}
#umuzi p,
#freecode p,
#UP p,
#matric p {
  color: rgb(0, 87, 128);
}
header {
  margin-bottom: 2rem;
  border: 2px solid transparent;
}
#navBar {
  z-index: 1;
  position: fixed;
  top: 0px;
  background-color: var(--bg);
  box-shadow: 2px 2px 5px black;
}
#cv {
  background-color: var(--text);
  color: var(--bg);
  font-weight: 800;
  padding: 0px;
}
@media screen and (min-width: 700px) {
  #cv {
    background-color: var(--text);
    color: var(--bg);
    font-size: 2rem;
    padding: 1rem;
    font-weight: 800;
    position: relative;
    bottom: 1.5rem;
  }
  main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1rem;
  }
  #skills {
    padding-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .fa-brands {
    font-size: 6rem;
    color: var(--text);
    margin: 1rem;
  }
}
#portfolio {
  min-height: max-content;
}
@media screen and (min-width: 1000px) {
  #aboutMe {
    font-size: 1.5rem;
  }
}
